
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&display=swap');

:root{   
 --dutch-white: rgb(250, 237, 202);
 --charcol: rgb(54, 70, 82);
 --chamoisee: rgb(165, 117, 72);
 --black-bean: rgb(43, 5, 4);
 --blood-red: rgb(96, 23, 0);
}

body{
    font-family: 'Lora', sans-serif;
    font-size: 100%;
    background-color: var(--dutch-white);
}


/* ---- text ----*/
.quote{
    font-size: 1.7em;
    font-style:italic;
    padding: 1em 1em;
    margin-bottom: 0.9em;
    text-align: center;
    background-color: var(--chamoisee);
    color: rgb(255,255,255);
}

.body-text, label{
    font-size: 1.5em;
    text-align: center;
    color:var(--blood-red);
}

.contact-text, label{
    font-size: 1.5em;
    text-align: left;
    font-weight: 400;
    color:var(--blood-red);
}

h1{
    font-size: 3.5em;
    color:var(--blood-red);
    text-align: center;
    font-weight: 500;
    margin: 0.3em;
}

h2{
    font-size: 2em;
    color:var(--blood-red);
    text-align: left;
    font-weight: 500;
}

h3{
    font-size: 2.5em;
    color:var(--blood-red);
    text-align: center;
    font-weight: 500;
    margin: 0.3em;
}

/* ---- layout ----*/

.container-fluid{
    border: 0 solid blue;
    padding: 0;
}

.container-lg{  
    background-color:rgb(255,255,255);
    overflow: auto;
}

.container-lg2{
    border: 2px outset lightsalmon;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    overflow: auto;
}

.comms-container{
    padding-left: 10px;
    border: 1px solid grey;
    width: 500px;
    overflow: auto;
    border-radius: 10px;
}

.quote_container{
    overflow: auto;
}

.part-img{
    max-width: 100%;
    margin: auto;
    display: block;
}   

.banner_adjust{
    margin-top: 3.2em;
}

/* --------- */

/* ---- navigation ----*/

.navbar{
    --dutch-white: rgb(250, 237, 202);
    background-color: var(--chamoisee);
    border-bottom: 2px solid white;
}

.nav-item:hover{
    background-color:var(--blood-red);
    color: var(--black-bean);
}

.nav-link{
    font-size: 1.5em;
    color:rgb(250,250,250);
}

.nav-link:hover{
    color:rgb(250,250,250);
}

.btn-outline{
    padding: 0 0.5em;
}

.btn-outline:hover{
    background-color:var(--blood-red);
}

/* ---- carousel ----*/

.carousel-container{
    max-width: 900px;
    display:block;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* --------- */

.form-container{
    background-color:var(--dutch-white);
    padding: 1em 2em;
}

.contact{
    background-color:var(--charcol);
}

/* ---- schedule page ----*/

.schedule-box{
    text-align: center;
    color: var(--blood-red);
}

/* --------- */

/* ---- news page ----*/
.news-box{
    background-color: white;
    margin: 5em;
}

.news-text{
    padding-left: 10px;
    font-size: 1em;
    text-align: left;
    color: var(--blood-red);
}

.news-meta{
    // font-size: 2em;
    font-style: italic;
}
/* --------- */

.footer-content{
    background-color: var(--chamoisee);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color:white;
    margin-top: 1em;
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.5em;
}