{% extends "layout.html" %}


{% block title%}
Guitar Group
{% endblock %}

{% block banner%}
static/images/mainbanner.jpg
{% endblock %}

{% block content%}

<!--suppress ALL -->
<div class="container-fluid">
<h1> Welcome </h1>

<div class=quote_container>
<p class="quote"> “The beautiful thing about learning is nobody can take it away from you.” </p>
</div>

<div class="container-lg">
    <div class="row align-items-center px-5 py-3">
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/focus-overshoulder.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <p class="body-text"> Kia Ora and welcome to our Guitar Group. This is the place you want to be if you are a lover of music and learning, like us. We are here to help you develop your own taste and identity, and grow in what you love the most. <br> <br> <em> Music learning is a valuable skill in your life so make it count by learning with us!</em> </p>
        </div>
    </div>
</div>

<h1> About Us </h1>

<div class=quote_container>
<p class="quote"> "Every guitarist has something unique about their playing. They just have to identify and develop it." </p>
</div>

<div class="container-lg">
    <div class="row align-items-center px-5 py-3">
        <div class="col-lg-6">
            <p class="body-text"> Based in Samuel Marsden Collegiate School, Guitar Group is a music club that is open for all students. Whether you are a beginner or an experienced player, you can find a place for yourself amongst our lovely group. <br> <br> Over the course of the year, we help you develop your skills so that you can perform at events such as showcase and cultural awards. </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/olive_fret.jpg" alt="">
        </div>
    </div>
</div>

<h1> Want to Know More? </h1>

<div class=quote_container>
<p class="quote"> “I just go wherever the guitar takes me.” </p>
</div>

<form id="contactus" class="form-container" action="">
<div class="container-lg">
<div class="row align-items-center px-5 py-3">
        <div class="col-lg-6">
        <h2> Contact Us </h2>
        <p class= "contact-text"> Our Socials: <br> <em>
        <a href="https://www.instagram.com/samuelmarsdenschool/?hl=en" target="_blank" rel="noopener noreferrer">@samuelmarsdenschool</a><br>
        <a href="https://www.marsden.school.nz/senior-school/co-curricular/music-for-all/" target="_blank" rel="noopener noreferrer">@guitargroup2023</a></em></p>
        <p class= "contact-text"> Email Us: <br> <em>
        <a href="mailto:guitargroup@marsden.school.nz?subject=Hi Guitar Group!">guitargroup@marsden.school.nz</a><br>
        <a href="mailto:musicgroups@marsden.school.nz?subject=Hi Music Group!">musicgroups@marsden.school.nz</a></em> </p>
        </div>
</div>
</div>
</form>

</div>
{% endblock %}