{% extends "layout.html" %}


{% block title%}
Guitar Group
{% endblock %}

{% block banner%}
static/images/mainbanner.jpg
{% endblock %}

{% block content%}

<div class="news p-4 my-4">
    <h2> Guitar Group sing along! </h2>
        <div class="subtitle"><h1> Wednesday Morning Tea from 10:30 to 10:40 </h1> </div>
        <p class="news-text"> Come along to jam out to your favourite song! </p>
        <div class="news-meta"> Posted by Sophie on Wed 17 May 23 12:10 </div>
        <div class="news-meta">
            <a class="btn btn-primary" href="">Update</a>
            <a class="btn btn-primary" href="">Delete</a>
        </div>
</div>

{% for row in news %}
<div class="news p-4 my-4">
    <h2> {{ row['title'] }} </h2>
        <div class="subtitle"><h1> {{ row['subtitle'] }} </h1> </div>
        <p class="news-text"> {{ row['content'] }} </p>
        <div class="news-meta"> member and date </div>
        <div class="news-meta">
            <a class="btn btn-primary" href="">Update</a>
            <a class="btn btn-primary" href="">Delete</a>
        </div>
</div>
{% endfor %}


{% endblock %}