{% extends "layout.html" %}

{% block title%}
Schedule
{% endblock %}

{% block banner%}
static/images/schedulebanner.jpg
{% endblock %}

{% block content%}

<!--suppress ALL -->
<div class="container-fluid">
<h1> What's coming up? </h1>

<div class=quote_container>
    <p class="quote"> “The beautiful thing about learning is nobody can take it away from you.” </p>
</div>

<div class="container-lg">
    <div class="row align-items-center px-5 py-3">
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/showcase1.jpg" alt="1">
        </div>
        <div class="col-lg-6">
            <p class="body-text"> On this page, you can find information on all sorts of events to do with the Guitar Group at Marsden. Guitar practices are held every Wednesday lunchtime in the Music Room at 12:50pm unless stated otherwise. The main event that the Guitar Group is working towards is Showcase. </p>
        </div>
    </div>
</div>

<h1> What is Showcase? </h1>

<div class="container-lg">
    <div class="row align-items-center px-5 py-3">
        <div class="col-lg-6">
            <p class="body-text"> Showcase is an event held at Samuel Marsden which allows students to ‘showcase’ their talent. They perform a piece or two with their chosen instrumental group in front of an audience of around 200 people. This includes their fellow musicians, teachers, students, and parents. It is a great opportunity for students to get in front of a crowd and learn the art of performance.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/showcase2.jpg" alt="2">
        </div>
    </div>
</div>


<h1>Schedule of all Events</h1>

            {% if session['auth'] == 0 %}
                <div class="add-button text-end">
                    <a class="btn btn-secondary" href="{{ url_for('schedule_cud', id=0, task='add') }}">Add Event</a>
                </div>
            {% endif %}

    <div class="schedule-box">
            {% for row in schedule %}
                <div class="schedule-container">
                    <h2 class="title-box"> {{ row['event_name'] }} </h2>
                    <!--div class="event_name"> {{ row['event_name'] }} </div-->
                    <p class="location"> {{ row['location'] | replace("\n", "<br>") | safe}} </p>
                    <p class="date_time"> {{ row['date_time'] | replace("\n", "<br>") | safe}} </p>
                    <p class="notes"> {{ row['notes'] | replace("\n", "<br>") | safe}} </p>

                    {% if session['auth'] == 0 %}
                        <div class="news-meta">
                            <a class="btn btn-secondary" href="{{ url_for('schedule_cud', id=row['schedule_id'], task='update') }}">Update</a>
                            <a class="btn btn-secondary" href="{{ url_for('schedule_cud', id=row['schedule_id'], task='delete') }}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
