{% extends "layout.html" %}


{% block title%}
Schedule
{% endblock %}

{% block banner%}
static/images/schedulebanner.jpg
{% endblock %}

{% block content%}

<h1> What's coming up? </h1>

<div class=quote_container>
<p class="quote"> “The beautiful thing about learning is nobody can take it away from you.” </p>
</div>

<div class="container-lg">
    <div class="row align-items-center px-5 py-3">
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/focus-overshoulder.jpg">
        </div>
        <div class="col-lg-6">
            <p class="body-text"> On this page, you can find information on all sorts of events to do with Guitar at Marsden. Guitar practices are held every Wednesday Lunch time in the Music Room at 12:50 pm unless stated otherwise. The main event that Guitar Group is working towards is Showcase. </p>
        </div>
    </div>
</div>

<h1> What is Showcase? </h1>
<div class="container-lg">
    <div class="row align-items-center px-5 py-3">
        <div class="col-lg-6">
            <p class="body-text"> Showcase is an event held at Samuel Marsden which allows students to ‘showcase’ their talent. They perform a piece or two with their chosen instrumental group in front of an audience of around 200 people. This includes their fellow musicians, teachers, students, and parents. It is a great opportunity for students to get in front of a crowd and learn the art of performance.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid part-img" src="static/images/focus-overshoulder.jpg">
        </div>
    </div>
</div>


<h1> Schedule of Events </h1>

<div class="schedule-table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
          <th> Event </th>
        <th>Location</th>
        <th>Time</th>
          <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>26.4.23</td>
        <td>Guitar Session</td>
        <td>Music Room</td>
          <td>12:50 pm </td>
            <td>  </td>
      </tr>
      <tr>
        <td>3.5.23</td>
        <td>Guitar Session</td>
        <td>Music Room</td>
          <td>12:50 pm </td>
          <td>Cancelled</td>
      </tr>
      <tr>
        <td>10.5.23</td>
        <td>Guitar Session</td>
        <td>Music Room</td>
          <td>12:50 pm </td>
           <td>  </td>
      </tr>
      <tr>
        <td>17.5.23</td>
        <td>Show Case preperation</td>
        <td>Music Room</td>
          <td>12:45 pm </td>
          <td>Cancelled due to colour run</td>
      </tr>
      <tr>
        <td>24.5.23</td>
        <td>Show Case preperation</td>
        <td>Music Room</td>
          <td>12:45 pm </td>
           <td>  </td>
      </tr>
      <tr>
        <td>31.5.23</td>
        <td>Show Case preperation</td>
        <td>Music Room</td>
          <td>12:45 pm </td>
           <td>  </td>
      </tr>
      <tr>
        <td>14.6.23</td>
        <td>Final Practise </td>
        <td>Lil Burn Room</td>
          <td>6:45 pm </td>
           <td> Bring your own guitar </td>
      </tr>
      <tr>
        <td>14.6.23</td>
        <td>Show Case</td>
        <td>Auditorium</td>
          <td>7:00 pm </td>
           <td> Bring your own guitar </td>
      </tr>

    </tbody>
  </table>
</div>

{% endblock %}